* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  
}

.Page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(circle at center, #ecdc4e 20%, #d89d58 50%, #c37226 100%);

}

.Hero {
  font-family: "Pinyon Script", cursive ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  color:rgb(140, 40, 1);
  font-size: 5rem;
  
}

.Hero p{
  opacity: 0;
  animation: fadeIn 2s forwards;
}

button{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(84, 0, 0, 0.6);
  margin:1rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 30px;
  cursor: pointer;
  color:rgb(140, 40, 1);
  opacity: 0;
  animation: fadeIn 3s forwards;
}

button:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.2);
}



.Details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 900px;
  padding: 2rem;
  flex-wrap: wrap;
  
}

.Details p{
  font-family: "Pinyon Script", cursive ;
  text-align: center;
  color:rgb(140, 40, 1);
  font-size: 4rem;
  margin-bottom: 3rem;
}

.Flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sub-details{
 border: 1px solid ;
 background: rgba(255, 255, 255, 0.1);
 border: 1px solid rgba(84, 0, 0, 0.6);
 border-radius: 30px;
 display: flex;
 flex-direction: column;
 padding: 1rem 3rem;
}

.sub-details p{
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input{
  border-radius: 15px;
  border: none;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: rgb(255, 255, 255,0.4);
  color: rgba(84, 0, 0);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .Hero {
    font-size: 2rem;
  }

  button {
    padding: 0.5rem 1.2rem;
    font-size: 0.7rem;
  }
}